
{{ partial "header.html" . }}

<div class="container" id="page-header">
    <div class="col-md-2">
        <h1 class="logo-header-text">
            <div>
                <a href="/"><img class="logo-notext-header" src="/images/logo_blast.png"/></a>
                <div>{{ .Title }}</div>
            </div>
        </h1>
    </div>
    <div class="col-md-8">
        <div id="text">
            <h2>
                {{ .Content }}
            </h2>
        </div>
    </div>
</div>

<div class="mar">
    <div class="container-blast">
        <h2>
            <a target="_blank" href="https://corona-blast.sfb.uit.no">Click here to open the {{ .Title }} page in a new tab</a>
        </h2>
        <iframe class="iframe-blast" name="myIframe" src="https://corona-blast.sfb.uit.no/">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</div>

{{ partial "footer.html" . }}
