{{ partial "header.html" . }}
  <div class="jumbotron">
    <div class="container">
      <img class="logo" src="/images/mmp_logo.png" />
    </div>
    <h1>{{ .Title }}</h1>
  </div>
  {{ .Content }}
{{ partial "footer.html" . -}}
