
    <nav class="navbar navbar-inverse navbar-bottom">
        <div class="container-text-muted">
          <div class="text-muted">
              <a style="color: white;" href="https://elixir.no" target="_blank">
                <u>
                    SARS<text style='font-family: "LiberationMono-V2-local" !important;'>-</text>CoV<text style='font-family: "LiberationMono-V2-local" !important;'>-2</text>
                    Portal is a part of the ELIXIR Norway infrastructure
                </u>
              </a>
              <span style="color: #909090;"> &nbsp; | &nbsp; </span>
              © 2020 SfB - UiT
              <span style="color: #909090;"> &nbsp; | &nbsp; </span>
              <a style="color: white;" href="/terms"><u>Terms and conditions</u></a>
              <span style="color: #909090;"> &nbsp; | &nbsp; </span>
              Contact: <a style="color: white;" href="mailto:mmp@uit.no"><u>mmp@uit.no</u></a> &nbsp; &nbsp; &nbsp;
          </div>
          
        </div>
        <div><a href="http://www.elixir-norway.org/" target="_blank"><img class="logo-footer-left" src="/images/logo_elixir-norway-edit.png"/></a></div>
        <!-- <div><a href="https://www.elixir-europe.org/excelerate" target="_blank"><img class="logo-footer-right" src="/images/logo_excelerate-eu.png"/></a></div> -->
    </nav>
  </body>
</html>
