<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="/css/style.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/js/ie10-viewport-bug-workaround.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js"></script>


		<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
		<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

		<title>{{ .Title }}</title>
		<link rel="icon" href="/images/favicon-corona.png">

		{{ partial "google-analytics.html" . }}

		{{ partial "matomo-analytics.html" . }}

	</head>
	<body class="body">
	
		<script js>
		
			// Detect IE or not
			var isIE = (navigator.appName == 'Microsoft Internet Explorer') || (typeof $.browser !== "undefined" && $.browser.msie == 1) || (navigator.appName == "Netscape" && navigator.appVersion.indexOf('Trident') !== -1);
			console.log("isIE: " + isIE);

			// Pop-up image preview for "Documentation" and "Help", with img source link kept
			$(function() {
				$.each($(this).find('#container-contact-text').find('a'), function() {
					if($(this).find('> img').length)
					{
						$(this).on('click', function() {
							$('#imagepreview').attr('src', $(this).find('> img').attr('src'));
							$('#imagemodal').modal('show');   
							return false;
						});
					}
				});
			});
			
			// For all DOC pages, lower the main elements width limits
			$(function() {
				if($(this).find('#doc-container').length)
				{
					$('.body').css('min-width', '75em');
					$('#page').css('min-width', '75em');
					$('#page').css('width', '70vw');
					$('#page-header').css('min-width', '50em');
					$('#page').css('margin-bottom', '-3em');
				}
			});
			
		</script>

		
		
		
		<!-- Cookie Consent by https://www.TermsFeed.com -->
		<!-- <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/3.0.0/cookie-consent.js"></script>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function () {
				cookieconsent.run({"notice_banner_type":"simple","consent_type":"implied","palette":"dark","language":"en"});
			});
		</script>
		<noscript>Cookie Consent by <a href="https://www.TermsFeed.com/">TermsFeed Generator</a></noscript> -->
		<!-- End Cookie Consent -->
		
		<!-- 
		<script type="text/javascript" src="//www.3dcart.com/lp/cookie-law-generator/cookie.js?learnmore=&amp;msg=To%20comply%20with%20the%20EU%20GDPR%20regulation%20(General%20Data%20Protection%20Regulation)%2C%20we%20would%20like%20to%20inform%20you%20that%20the%20Portal%20collects%20analytics%20to%20ensure%20you%20get%20the%20best%20experience%20on%20our%20website.%20&amp;accept_text=Got it!"></script>
		 -->

		<script src="/js/cookie.notice.min.js"></script>
		<script>
			new cookieNoticeJS({
				'messageLocales': {
					 'en': 'To comply with the EU GDPR (General Data Protection Regulation), we would like to inform you that the Portal collects analytics to ensure you get the best experience on our website. ',
					 'fr': 'To comply with the EU GDPR (General Data Protection Regulation), we would like to inform you that the Portal collects analytics to ensure you get the best experience on our website. ',
					 'de': 'To comply with the EU GDPR (General Data Protection Regulation), we would like to inform you that the Portal collects analytics to ensure you get the best experience on our website. ',
					 'it': 'To comply with the EU GDPR (General Data Protection Regulation), we would like to inform you that the Portal collects analytics to ensure you get the best experience on our website. '
				},
			   
			   // Position for the cookie-notifier (default=bottom)
			   'cookieNoticePosition':'top',
			   
			   // Shows the "learn more button (default=false)
			   'learnMoreLinkEnabled':true,
			   
			   // The href of the learn more link must be applied if (learnMoreLinkEnabled=true) 
			   'learnMoreLinkHref':'/terms',
			   
			   // Text for optional learn more button
			   'learnMoreLinkText':{
				   'en':'Learn More ',
				   'fr':'Learn More ',
				   'de':'Learn More ',
				   'it':'Learn More '
			   },
			   
			   // The message will be shown again in X days
			   'expiresIn': 30, 
			   
			   // Dismiss button background color
			   'buttonBgColor': '#d35400',  
			   
			   // Dismiss button text color
			   'buttonTextColor': '#fff', 
				 
			   // Notice background color
			   'noticeBgColor': '#000', 
				  
			   // Notice text color
			   'noticeTextColor': '#fff', 
			   
			   // the lernMoreLink color (default='#009fdd') 
			   'linkColor':'#f00'
			});
		</script>
		
		
		
		<!-- Pop-up image preview for "Documentation" and "Help": Creates the bootstrap modal where the image will appear -->
		<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 80vw; height: auto;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Image preview</h4>
					</div>
					<div class="modal-body">
						<img src="" id="imagepreview" style="width: 100%; height: auto;">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<nav class="navbar navbar-inverse navbar-top" id="header">
            {{ partial "navbar.html" . }}
        </nav>

<script js>
	$(function () {
		let origin = window.location.origin;
		if (origin.includes("covid19-s1")) {
			let banner = document.createElement("div");
			banner.className = "box";
			banner.innerHTML = "<p>Test set-up</p>"
			document.getElementsByTagName('nav')[0].appendChild(banner);
		}
	});
</script>