
    <div class="container" id="navbar-container" >
        
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <div class="text-muted">
                    Copyright © 2017 Center for Bioinformatics - UiT.
                </div>
            </a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav dropup">
                {{ $currentNode := . }}
                {{ range .Site.Menus.main.ByWeight }}
                    <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active {{end}}">
                        <a href="{{ .URL }}"><b>{{ upper .Name }}</b></a>
                    </li>
                {{ end }}
            </ul>
        </div>
        
    </div>
