
    <div class="container" id="navbar-container" >
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="logo-navbar" src="/images/logo_corona_virus.png"/>
                <span>
                    SARS<b><text style='font-family: "LiberationMono-V2-local" !important;'>-</text></b>CoV<b><text style='font-family: "LiberationMono-V2-local" !important;'>-2</text></b>
                    Portal
                </span>
            </a>
        </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">


                    {{ $currentNode := . }}
                    {{ range .Site.Menus.main }}
<!--                        <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active {{end}}">-->
<!--                            <a href="{{ .URL }}"><b>{{ upper .Name }}</b></a>-->
<!--                        </li>-->
                        {{ if .HasChildren }}
                            <li class="{{ if ($currentNode.HasMenuCurrent "dropdown" .) }} active {{ end }}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <b>{{upper .Name}}</b>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {{ range .Children }}
                                    <li class="{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} active {{ end }}">
                                    <a href="{{ .URL }}">
                                        {{ upper .Name }}
                                    </a>
                                    </li>
                                    {{ end }}
                                </ul>
                             </li>
                       {{ else }}
                    <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active {{end}}">
                    <a href="{{ .URL }}"><b>{{ upper .Name }}</b></a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
    </div>