
{{ partial "header.html" . }}

<link rel="stylesheet" href="https://unpkg.com/antd@2.6.1/dist/antd.css"/>

<div class="container" id="page-header">
  <div class="col-md-2">
    <h1 class="logo-header-text">
      <div>
        <a href="/"><img class="logo-notext-header" src="/images/logo_corona-db.png"/></a>
        <div>
          SARS<b><text style='font-family: "LiberationMono-V2-local" !important;'>-</text></b>CoV<b><text style='font-family: "LiberationMono-V2-local" !important;'>-2</text></b>
          DB
        </div>
      </div>
    </h1>
  </div>
  <div class="col-md-8">
    <div id="text">
      <h2>
        {{ .Content }}
      </h2>
    </div>
  </div>
  <div class="col-md-2 help">
    <a href="/statistics"><button class="btn btn-dark center-block btn-lg">DB Statistics</button></a>
  </div>
</div>

<div class="mar">
  <div class="container-db">
    <div id="app">
      <h2 id="webappLoadingText1">Loading, please wait...</h2>
      <a><h2 id="marAppErrorIE" hidden style="color: red">MAR Databases Web Application is not supported by Internet Explorer.</h2></a>
<!--      -->
      <script js>
            $('#webappLoadingText1').prop('hidden', isIE);
            $('#webappLoadingText2').prop('hidden', isIE);
            $('#marAppErrorIE').prop('hidden', !isIE);
            $("#marAppErrorIE").click(function() {
                if($("#marAppErrorIE").children().length == 0)
                {
                    $("#marAppErrorIE").append('<div><br><img style="float:left;height:400px;width:360px;padding-left:7%" src="/images/ie1.png"/><img style="float:right;height:400px;padding-right:7%" src="/images/ie2.jpeg"/></div>')
                }
                else
                {
                    $("#marAppErrorIE").children().remove();

                    // FIX THE OVERALL PAGE WIDTH
                    $("body").css("width", "128%");
                }
            });
      </script>
<!--      -->
      <script type="module" async="false" defer="false" src="/webapp/index.js"></script>

<!---->

    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>

{{ partial "footer.html" . }}
