
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
  <div class="col-md-2">
    <h1 class="logo-header-text">
      <div>
        <a href="/"><img class="logo-notext-header" src="/images/logo_resources.png"/></a>
        <div>{{ .Title }}</div>
      </div>
    </h1>
  </div>
  <div class="col-md-8">
    <div id="text">
      <h2>
        {{ .Content }}
      </h2>
    </div>
  </div>
</div>

<div class="container" id="container-columns">

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <span class="glyphicon glyphicon-download-alt column-header-download-icon"></span>
          </div>
          <div class="col-md-7">
            <div>
              <!--
              {{- range .Site.Pages -}}
              {{- if eq .Type "resourcesCol1"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
              -->
              SARS<b><text style='font-family: "LiberationMono-V2-local" !important;'>-</text></b>CoV<b><text style='font-family: "LiberationMono-V2-local" !important;'>-2</text></b> database downloads
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 24em;">
        <div >
          {{- range .Site.Pages -}}
          {{- if eq .Type "resourcesCol1"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <span class="glyphicon glyphicon-download-alt column-header-download-icon"></span>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "resourcesCol2"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 24em;">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "resourcesCol2"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <span class="glyphicon glyphicon-download-alt column-header-download-icon"></span>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "resourcesCol3"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text" style="height: 24em;">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "resourcesCol3"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
    </div>
  </div>

</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
