
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
    <h1 class="logo-header-text">
        <div>
            <a href="/"><img class="logo-notext-header" src="/images/logo_corona_virus.png"/></a>
        </div>
        <div id="text">
            {{ .Title }}
        </div>
    </h1>
</div>

<script js>

    function versionSorter(a, b) {
        var a_num = a.split('.').map( n => +n+100000 ).join('.');
        var b_num = b.split('.').map( n => +n+100000 ).join('.');

        a = a_num;
        b = b_num;

        if (a < b) return 1;
        if (a > b) return -1;
        return 0;

    }

    $.getJSON('https://s1.sfb.uit.no/public/mar/SarsCovid19DB/contextual/statistics_merged.json', function(jsondata) {
        let items = [];
        $.each(jsondata, function (key) {
            items.push(key)
        })
        let ver = items.sort(versionSorter)[0]
        document.getElementById('database-version').innerText = "Database version: " + ver;
        $('.col-md-11').first().css('display', 'block');

    });

</script>



<div class="container" id="container-contact-text">
    <div class="col-md-11">
        <div id="text-wrapper">
            <div class="div-navs" id="about-col-center">
                <div id="database-version"> </div>
                <div>Portal version: {{ getenv "CI_COMMIT_REF_NAME" }}</div>
                <div>Git commit: {{ getenv "CI_COMMIT_SHA" }}</div>
            </div>
        </div>
    </div>
</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
