
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<!--<div class="jumbotron">-->
    <div class="container" id="page-header">
        <h1 class="logo-header-text">
            <div>
                <a href="/"><img class="logo-notext-header" src="/images/logo_corona-db.png"/></a>
            </div>
            <div id="text">
                {{ .Title }}
            </div>
        </h1>
    </div>
<!--</div>-->

<div class="container" id="container-contact-text">
    <div class="col-md-12">
        <div class="table-responsive">
            <div id="statistics-content">
                <table id="table" data-height="400" data-sort-name="version">
                <thead>
                <tr>
                    <th data-field="version" data-sortable="true" data-sorter="versionSorter">Version</th>
                    <th data-field="date" data-sortable="true">Date</th>
                    <th data-field="total_entries" data-sortable="true">Total entries</th>
                    <th data-field="new_entries" data-sortable="true">New entries</th>
                    <th data-field="total_countries" data-sortable="true">Total contries</th>
                    <th data-field="average_length" data-sortable="true">Average length</th>
                    <th data-field="unique_entries" data-sortable="true">Unique entries</th>
                </tr>
                </thead>
                </table>
<!--  <h2 style="text-align: center;">Loading, please wait...</h2>-->
<!--  <h2></h2>-->
            </div>
        </div>
    </div>
</div>
<script js>

  function versionSorter(a, b) {
      var a_num = a.split('.').map( n => +n+100000 ).join('.');
      var b_num = b.split('.').map( n => +n+100000 ).join('.');

      a = a_num;
      b = b_num;

      if (a < b) return 1;
      if (a > b) return -1;
      return 0;

  }

  function dataHandler (res) {
        var items = [];
        $.each( res, function( key, val ) {
            items.push({
                "version": key,
                "date": val.date,
                "total_entries": val.total_entries,
                "new_entries": val.new_entries,
                "total_countries": val.total_countries,
                "average_length": val.average_length,
                "unique_entries": val.unique_entries
            })
        });
        return items
    };

    $.getJSON('https://s1.sfb.uit.no/public/mar/SarsCovid19DB/contextual/statistics_merged.json', function(jsondata) {
        $('#table').bootstrapTable({
            data: dataHandler(jsondata)
        })
    });
</script>
{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}
