
{{ partial "header.html" . }}
{{ partial "body-start.html" . }}

<div class="container" id="page-header">
  <div class="col-md-2">
    <h1 class="logo-header-text">
      <div>
        <a href="/"><img class="logo-notext-header" src="/images/logo_corona_virus.png"/></a>
        <div>
          SARS<b><text style='font-family: "LiberationMono-V2-local" !important;'>-</text></b>CoV<b><text style='font-family: "LiberationMono-V2-local" !important;'>-2</text></b>
          Portal
        </div> 
      </div>
    </h1>
  </div>
  <div class="col-md-10">
    <div id="text">
      <h2>
        {{ .Content }}
      </h2>
    </div>
  </div>
</div>

<div class="container" id="container-columns-index">
  
  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/logo_corona-db.png"/>
          </div>
          <div class="col-md-7">
            <div>
              <div>
                SARS<b><text style='font-family: "LiberationMono-V2-local" !important;'>-</text></b>CoV<b><text style='font-family: "LiberationMono-V2-local" !important;'>-2</text></b>
                DB
              </div>
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div>
          {{- range .Site.Pages -}}
            {{- if eq .Type "indexCol1"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/corona-db/#/records">Browse</a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/logo_blast.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
                {{- if eq .Type "indexCol2"}}
                  {{ .Title }}
                {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div>
          {{- range .Site.Pages -}}
            {{- if eq .Type "indexCol2"}}
              {{ .Content }}
            {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/blast">Run BLAST</a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/logo_visualization.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "indexCol3"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "indexCol3"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/visualization">Visualize</a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <h2 class="container-column-header">
        <a>
          <div class="col-md-5">
            <img class="logo-notext" src="/images/logo_resources.png"/>
          </div>
          <div class="col-md-7">
            <div>
              {{- range .Site.Pages -}}
              {{- if eq .Type "indexCol4"}}
              {{ .Title }}
              {{ end }}
              {{- end }}
            </div>
          </div>
        </a>
      </h2>
      <div class="container-column-text">
        <div>
          {{- range .Site.Pages -}}
          {{- if eq .Type "indexCol4"}}
          {{ .Content }}
          {{ end }}
          {{- end }}
        </div>
      </div>
      <a type="button" class="btn main-btn" href="/resources">See Resources</a>
    </div>
  </div>

</div>

{{ partial "body-end.html" . }}
{{ partial "footer.html" . }}

